<a href="https://colab.research.google.com/github/Sharddha-Sharddha/IITMLAssignments/blob/main/Python_basic_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89
c. 189
d. None of the above

In [ ]:
n = 10
r = 5
p = 100
A = p*(1 + r/ 100)**n
print(A)

# b. 162.89

162.8894626777442

Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a))
d. None of the above

In [ ]:
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(A, B))


# d. None of the above

There are 10 students in the class, with 20 who play at least one sport.

Q3. In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above.

In [ ]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

# a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)

It goes without saying, "Time is Money", and none can deny it.

Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3
c. 30
d. 1000

In [ ]:
x = lambda a,b: a//b
x(10,3)

# b. 3

3

Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater
d. None of the above

In [ ]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

# c. Greater

Greater

Q6. What will be the output of the following code?

In [ ]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array( my_list1, dtype = int)
print(arr_1)

# c. NameError: name 'numpy' is not defined

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)]
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)]

In [ ]:
string = "Machine Learning"
print(string[slice(8,13,1)])

# d. string[slice(8,13,1)]

Learn

Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the
value 18?
a. 3
b. 2
c. 0
d. 1

In [ ]:

a = [ i for i in range (10,25,4)]
print (a )
print(a.index(18))

# b. 2

[10, 14, 18, 22]
2

Q9. Which of the following is true with respect to the below codes?
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2

In [ ]:
num1 = 5**4
num2 = pow(5,4)
print(num1,num2)

# a. num1 = num2

625 625

Q10.A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported

In [ ]:
# a. Trying to access a variable which has not been defined

Q11.What type of exception will be raised for the code given below?
a. NameError
b. KeyError
c. ValueError
d. AttributeError

In [ ]:
x = "string"
int(x)

# value error

ValueError: invalid literal for int() with base 10: 'string'

Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory

In [ ]:
# b. A file or directory is requested but does not exist in the working directory

Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character
c. Integer
d. Boolean

In [ ]:
z = "ID-5632"
print(type(z))

# b. Character

<class 'str'>

Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above

In [ ]:
# d. All of the above

Q15.Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #

In [ ]:
# c. {}

6.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively Country India China Japan Qatar France
State Delhi Beijing Tokyo Doha Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [ ]:
country = {
    'India' : 'Delhi',
    'China' : 'Beijing',
    'japan' : 'Tokyo',
    'Qatar' : 'Doha',
    'France' : 'Marseilles'
}
country.update({'France' : 'Paris'})
print(country)
country.pop('France')
country['France'] = 'Paris'
print(country)

{'India': 'Delhi', 'China': 'Beijing', 'japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'India': 'Delhi', 'China': 'Beijing', 'japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.

In [ ]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

# d. tuple_1[3] = 45

Q18. How many elements in the following data structure?

In [ ]:
S = {1,2,3,4,4,4,5,6}
print(len(S))

6

Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N.

In [ ]:
def pythogoren_triplets(a,b,c):
  if ((a**2) + (b**2)) == (c**2):
    print("its a pythogoren triplet")
  else:
    print("its not a pythogoren triplet")
pythogoren_triplets(3,4,5)

its a pythogoren triplet